# =========================
# Node.js specific
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
/dist/
build/

# =========================
# Java/Maven specific
# =========================
target/
*.class
*.jar
*.war
*.ear
*.log
*.iml

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / cache
# =========================
*.tmp
.cache/
